/* general */

.body {
    background-color: #2a2c2f;
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    color: #fff;
    font-family: 'Inter', sans-serif;
}

.content {
    max-width: 1600px;
    margin: 0 auto;
       
}


.link {
    text-decoration: none;
    color: #fff;
    transition: all .2s;
}

.link:hover {
    opacity: .9;
}



/* header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 28px 48px 0;
    min-height: 52px;
}

.lang-list {
    list-style: none;
}

.lang-list__item {
    display: inline-block;
}

.lang-list__link {
    font-size: 24px;
    line-height: 1.17;
}

.lang-list__link_active {
    text-decoration: underline;
}

/* lead */

.lead {
    margin: 0;
    padding: 0 10%;
    text-align: center;
}

.lead__title {
    margin: 0;
    padding: .6em 0 0;
    font-size: 96px;
    font-weight: 900;
}

.lead__subtitle {
    margin: 0;
    padding: 0;
    font-size: 36px;
    margin-top: .9em;
}

.lead__greeting {
    margin: 0;
    padding: 0;
}

.lead__image {
    width: 100%;
    margin: 64px 0 0;
    padding: 0;
}

.lead__caption {
    text-align: start;
    font-size: 10px;
    text-transform: uppercase;
}

/* intro */

.intro {
    max-width: 690px;
    margin: 0;
    padding: 92px 10% 0;
}

.intro__title {
    margin: 0;
    padding: 0;
    font-size: 54px;
    font-weight: 900;
    white-space: nowrap;
}

.intro__text {
    font-size: 16px;
    line-height: 1.6;
    padding: 0;
    margin: 40px 0 0;
}

.intro__list {
    font-size: 12px;
    line-height: 1.5;
    margin: 33px 0 0;
    padding: 0;
    list-style: none;
}

.intro__bold-list {
    font-weight: 700;
}

/* photos */

.photos {
    padding: 92px 0 0;
    margin: 0;
}

.photo-grid {
    padding: 0;
    margin: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
}

.photo-grid__item {
    width: 100%;
}

/* places */

.places {
    padding: 12px 10% 0;
    margin: 0;
}

.place {
    padding: 80px 0 0;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto 3fr;
    gap: 48px 40px;
}

.place__title {
    margin: 0;
    padding: 0;
    font-size: 72px;
    font-weight: 900;
    align-self: end;
}

.place__website {
    margin: 0;
    padding: 0;
    align-self: end;
    color: #aaa;
    font-size: 12px;
    text-transform: uppercase;
}

.place__link {
    text-transform: initial;
    display: block;
    font-size: 18px;
    line-height: 1.2;
    text-decoration: underline;
}

.place__image {
    width: 100%;
}

.place__text {
    margin: 0;
    padding: 26px 0 0;
    font-size: 18px;
    line-height: 1.6;
}

/* cover */

.cover {
    width: 100%;
    margin: 0;
    padding: 92px 0 0;
    text-align: center;
}

.cover__image {
    width: 100%;
    max-width: 1600px;
    opacity: .8;
    transition: all .2s;
}

.cover__link {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.cover__link:hover .cover__image {
    opacity: .6;
}

.cover__text {
    position: absolute;
    text-align: center;
}

.cover__title {
    margin: 0;
    padding: 0;
    max-width: 560px;
    font-size: 72px;
    font-weight: 900;
}

.cover__subtitle {
    margin: 32px auto 0;
    padding: 0;
    max-width: 360px;
    font-size: 18px;
    line-height: 1.2;
}

.footer {
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 92px 0 24px;
    align-items: center;
}

.footer__nav {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 18px;
}
