.cover__subtitle {
    margin: 32px auto 0;
    padding: 0;
    max-width: 360px;
    font-size: 18px;
    line-height: 1.2;
}

@media screen and (max-width: 640px) {
    .cover__subtitle {
        font-size: 14px;
    }
}

@media screen and (max-width: 425px) {
    .cover__subtitle {
        margin-top: 16px;
    }
}