.cover {
    margin: 92px 0 0;
    padding: 0;
    background-image: url(../../images/cover.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: calc((100vw - 96px) * 0.625);

    
}

@media screen and (max-width: 1024px){
    .cover {
        height: calc(100vw * 0.625);
    }
}

@media screen and (max-width: 768px) {
    .cover {
        margin: 88px 0 0;
    }
}

@media screen and (max-width: 425px) {
    .cover {
        margin: 66px 0 0;
    }
}