.cover {
    margin: 92px 0 0;
    padding: 0;
    background-image: url(../../images/cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    width: 100%;   
}

@media screen and (max-width: 768px) {
    .cover {
        margin: 88px 0 0;
    }
}

@media screen and (max-width: 425px) {
    .cover {
        margin: 66px 0 0;
    }
}