.footer {
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding: 92px 0 24px;
    align-items: center;
}

@media screen and (max-width: 1024px) {
    .footer {
        padding: 92px 48px 24px;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        padding: 88px 24px 24px;
    }
}

@media screen and (max-width: 640px) {
    .footer {
        flex-direction: column;
        gap: 48px;
    }
}

@media screen and (max-width: 500px) {
    .footer {
        text-align: start;
        padding: 64px 16px 24px;
        align-items: flex-start;
    }
}